{% extends "products/base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static "css/profile.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/button.css" %}">
    <link rel="stylesheet" href="{% static "css/basket.css" %}">
{% endblock links %}

{% block content %}
    <section class="center">

        {% comment %} Connection profile section {% endcomment %}
        {% include "products/profile.html" %}

        {% if baskets %}
            <section class="basket">
                <div class="text_basket">
                    <h1>Корзина</h1>
                    <div class="count_product">{{ baskets.total_quantity }}</div>
                </div>

                {% if baskets %}
                    {% for basket in baskets %}
                        <div class="cart_basket">
                            <h1>{{ basket.product.title }}</h1>
                            <p>{{ basket.product.description }}</p>
                            <hr>
                            <div class="cart_count">
                                <div class="number">
                                    <div class="doing">
                                        <a href="{% url "products:add_basket" basket.id %}" class="clean_link">+</a>
                                    </div>
                                    <p>{{ basket.quantity }}</p>
                                    <div class="doing">
                                        <a href="{% url "products:minus_basket" basket.id %}" class="clean_link">-</a>
                                    </div>
                                </div>
                                <p class="price_basket">{{ basket.sum }} руб.</p>
                                <a href="{% url "products:delete_basket" basket.id %}" class="delete_basket_link">Удалить</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="total">
                    <p>Итого</p>
                    <p class="price">{{ baskets.total_sum }} руб.</p>
                </div>

                <div class="delete">
                    <a href="{% url "products:delete_baskets" %}" class="delete_basket">Удалить всю корзину</a>
                    <a href="" class="offer_order">Оформить заказ</a>
                </div>
            </section>
        {% else %}
            <h1>Корзина пуста</h1>
        {% endif %}
    </section>
{% endblock content %}