<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block links %}

    {% endblock links %}
    <title>Oxxxy</title>
</head>
<body class="body">
    <section class="content">
        <header class="header">
            <a href="{% url "index" %}" class="name_logo">OXXXYSHOP</a>
            <nav class="nav">
                <ul>
                    <li><a href="product.html" class="head_link">Главная</a></li> 
                    <li><a href="#main" class="head_link">Одежда</a></li>
                    <li><a href="basket.html" class="head_link">Корзина</a></li> 
                    {% if not user.is_authenticated %}
                        <li><a href="sign.html" class="head_link">Создать </a></li>/<li><a href="login.html" class="head_link">Войти</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        {% block content %}
        
        {% endblock content %}

        {% block footer %}
        
        {% endblock footer %}
    <section>
</body>
</html>
</body>
</html>