{% extends "products/base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static "css/profile.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/button.css" %}">
    <link rel="stylesheet" href="{% static "css/basket.css" %}">
{% endblock links %}

{% block content %}
    <section class="center">
        <section class="profile">
            <div class="text_profile"><h1>OXXXYSHOP - Профиль({{ user.username }})</h1></div>
            <div class="photo"><img src="photo/profile.png" class="photo_profile" alt="Аватарка пользователя"></div>
            <form action="" method="post" class="form">
                <div class="form_block">
                    <div class="username">
                        <label for="">Имя</label>
                        <input type="text">
                    </div>
                    <div class="lastname">
                        <label for="">Фамилия</label>
                        <input type="text">
                    </div>
                </div>

                <input type="text" placeholder="Выберите изображение" class="select_img">

                <div class="form_block">
                    <div class="username">
                        <label for="">Имя пользователя</label>
                        <input type="text">
                    </div>
                    <div class="lastname">
                        <label for="">Адрес электронной почты</label>
                        <input type="text">
                    </div>
                </div> 
                <button class="button_profile">Сохранить</button>        
            </form>
        </section>

        {% if baskets %}
            <section class="basket">
                <div class="text_basket">
                    <h1>Корзина</h1>
                    <div class="count_product">{{ baskets.total_quantity }}</div>
                </div>

                {% if baskets %}
                    {% for basket in baskets %}
                        <div class="cart_basket">
                            <h1>{{ basket.product.title }}</h1>
                            <p>{{ basket.product.description }}</p>
                            <hr>
                            <div class="cart_count">
                                <div class="number">
                                    <p>{{ basket.quantity }}</p>
                                    <div class="doing">
                                        <a href="{% url "products:add_basket" basket.id %}" class="clean_link">+</a>
                                        <a href="{% url "products:minus_basket" basket.id %}" class="clean_link">-</a>
                                    </div>
                                </div>
                                <p class="price_basket">{{ basket.sum }} руб.</p>
                                <a href="{% url "products:delete_basket" basket.id %}" class="delete_basket_link">Удалить</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="total">
                    <p>Итого</p>
                    <p class="price">{{ baskets.total_sum }} руб.</p>
                </div>

                <div class="delete">
                    <a href="{% url "products:delete_baskets" %}" class="delete_basket">Удалить всю корзину</a>
                    <a href="" class="offer_order">Оформить заказ</a>
                </div>
            </section>
        {% else %}
            <h1>Корзина пуста</h1>    
        {% endif %}
    </section>
{% endblock content %}